/* container */
.container-s1{
  /* padding: 7% 15%; */
}

/* Social Bar */
.social-bar{
  position: fixed;
  right: 1%;
  top: 30%;
  z-index: 2;
}

.sBar{
  padding: 30px 0;

}

.sBar a{
  text-decoration: none;
  color: inherit;
}

/* complimentaries */
.section-off{
  height: 100px;
  background-color: #C9FCFB;
}


/* title */
body, html{
  font-family: "Roboto";
  font-weight: 300;
}

.website-border{
border-left: 80px solid #C9FCFB;
border-right: 80px solid #C9FCFB;
}


.navbar{
  z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  background-color: #C9FCFB;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
}

.nav-item{
  padding: 0 20px;
}

.navbar-brand{
  font-family: Pacifico, cursive;
  font-weight: 400;
  font-size: 2rem;
}

.parallax{
  background-image: url("../images/doggo.gif");
  /* backround-color: white; */

  height: 885px;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-section{
  height: 885px;
  border-bottom: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text{
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 4rem;

}

.title-text .title-subtext{
  font-size: 2rem;
  text-align: right;
  border:0;
}


/* Content */
#content{
  padding-bottom: 20%;
  background-color: #fff;
}

.paragraph-about-me{
  font-size: 2rem;
  width: 45%;
  font-weight: bold;
}

#slideshow{
 width: 980px;
 height: 550px;
 margin: auto;
 margin-top: 10%;
}

.carousel-image{
  width: 980px;
  height: 550px;

  object-fit: cover;
  border: 20px solid #0ABAB5;
}


/* @media only screen and (max-width: 980px){
  .carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 20px solid black;

  }

} */

.image-detail{
  text-align: left;
}

#footer{
  padding: 7% 15%;
  background-color: #3E64FF;
  text-align: center;
}
.fab-footer{
  padding: 0 10px;
}
