.overall-container{
  padding-top: 72px;
}

@media only screen and (min-width: 1200px){
  .overall-container{
    margin: 0 25%;
  }
}

.twitter-container{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 1200px;
}

.twitter-container a{

}
